<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myentertainmentlist">
    <!-- Internet Enabled -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEntertainmentList">
        <activity
            android:name=".UserFragment"
            android:exported="false" />
        <activity
            android:name=".EditGameActivity"
            android:exported="false" />
        <activity
            android:name=".GameFragment"
            android:exported="false" />
        <activity
            android:name=".GroupCreatorActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".GameViewActivity"
            android:exported="false" />
        <activity
            android:name=".TVViewActivity"
            android:exported="false" />
        <activity
            android:name=".Signing.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".lists.TVListActivity"
            android:exported="false" />
        <activity
            android:name=".lists.GameListActivity"
            android:exported="false" />
        <activity
            android:name=".lists.BookListActivity"
            android:exported="false" />
        <activity
            android:name=".ListSelectActivity"
            android:exported="false" />
        <activity
            android:name=".Signing.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>